/test
/results
/results_copied
/cpp_wrappers
/gpu_utilization
/.idea
*.pyc
*.ply
*.txt
*.png
*-checkpoint.py
*-checkpoint.ipynb
*-checkpoint.json
/utils/.ipynb_checkpoints
/.ipynb_checkpoints
*.ipynb_checkpoints
/logs
/None
